{erl_opts, [
            debug_info,
            {i, "./_build/default/plugins/gpb/include"}
           ]}.

{deps, []}.

{plugins, [
           {rebar3_gpb_plugin, "2.22.1"},
           {rebar3_proto_plugin, "0.1.16"}
          ]}.

{gpb_opts, [
            {i, "proto"},
            {module_name_prefix, "pb_"},
            {o_erl, "src/pb"},
            {o_hrl, "include"},
            {strings_as_binaries, true},
            type_specs
           ]}.

{proto_opts, [
              {o_meta_file, "proto_info.meta"},
              {o_proto_info, "src/pb/proto_info.erl"},
              {custom_info, ["src/proto_info_custom.erl"]},

              {proto_hrl, true},
              {proto_hrl_uppercase, true},
              {o_proto_hrl, "include/proto.hrl"}
             ]}.

{provider_hooks, [
                  {pre, [
                         {compile, {protobuf, compile}},
                         {compile, {proto, generate}},

                         {clean, {protobuf, clean}}
                        ]},
                  {post, [
                         ]
                  }
                 ]}.
